/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter', system-ui, sans-serif;
  --font-accent: 'PressStart2P', monospace;
  --text-weight: 410;
  --title-weight: 715;
  --background-gradient: repeating-linear-gradient(90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
                   repeating-linear-gradient(180deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
                   linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --contour-color: #000000;
  --sparks-color: red;
  --main-body-color: transparent;
  --core-color: transparent;
}